.footer {
    background-color: #FEB7C9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
    position: relative;
    min-width: 100vw;
    left: 0;
    z-index: 100;
}
/*.contact-info h1{*/
/*    color: #FFFFF0;*/
/*    display: flex;*/
/*    margin-left: 5vw;*/
/*}*/

/*.contact-info p{*/
/*    color: #747bff;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-right: 60vw;*/
/*}*/

/*.connect-info h1{*/
/*    color: #FFFFF0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-left: 5vw;*/
/*}*/
/*.connect-info img {*/
/*    height: 45px;*/
/*    width: 45px;*/
/*}*/