.footer {
    background-color: #FEB7C9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
    position: relative;
    min-width: 100vw;
    left: 0;
    z-index: 100;
}
