/* Navbar container */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #FEB7C9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-right: 10vw;
    padding: 0;
    flex-wrap: nowrap;
    text-transform: uppercase;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff; /* Black for text */
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6dbf; /* Pink color on hover */
}

/* Logo container */
.logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.logo-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #F775A9;
}

.logo-text {
    font-size: 1.5rem;
    color: #F775A9 ;
    margin-left: 5vw ;
}

.main{
    margin-top: 80px;
}